* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 50px !important;
  line-height: 50px !important;
  font-family: Serif !important;
}

h2 {
  font-size: 40px !important;
  font-family: Serif !important;
}

h3 {
  font-size: 23px !important;
  font-family: "Montserrat", sans-serif !important;
}

h4 {
  font-size: 19px !important;
  font-family: "Montserrat", sans-serif !important;
}
